footer {
  display: flex;
  align-items: center;
}

#alert {
  background-color: var(--color-danger);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 44rem;
  height: 2.75rem;
  margin: 0 auto;
  border-radius: 0.75rem;

  padding: 0.75rem;
  color: var(--always-white);


  margin-bottom: 5rem;
  position: fixed;
  bottom: 0;
}