* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;

  --color-brand: #ca3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;
  --color-remove: #b85039;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white:#FFFFFF;

  --border-primary: #D1D5DB;
  --border-hover: #7089af;
  
  --ff-base: 'Inter', sans-serif;
  --tittle: 700 1.5rem/2rem var(--ff-base);

  background-color: var(--background-primary);
}

#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 43.75rem;
  text-align: center;
}

ul, li {
  all: unset;
}

button {
  all: unset;
  cursor: pointer;
}

input, ul, button {
  border-radius: 0.75rem;
}

@media (width <= 600px) {
  :root {
    margin-inline: 1.9rem;

    #alert {
      width: 85vw;
    }

    #list {
      width: 93%;
    }

    #box-input {
      display: flex;
      flex-direction: column;
      height: 6.5rem;

      #addItem {
        width: 100%;
        height: 2.75rem;
      }
    }
  

  }

  #logo {
    display: none;
  }

  #cabecalho a{
    margin-top: 4.875rem;
  }
}